header{
	color: white;
	height: 70px;
	width: 100%;
	border bottom: 1px #CCCCCC;
	display: flex;
	align-items: center;
}

.logo{
	height: 60px;
	width: 140px;
	background: url("../images/logo.png") no-repeat center;
	padding-left: 20px
}
